SignerClient/Connected Services/Authentication/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="IsAuthenticated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAuthenticatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsAuthenticatedResult" type="tns:AuthenticationControl" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthenticationControl">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:Message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Info" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="department_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:AuthenticationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthenticationResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:userInfo" />
              <s:element minOccurs="1" maxOccurs="1" name="Value" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="Department" type="tns:department" />
              <s:element minOccurs="0" maxOccurs="1" name="Period" type="tns:period" />
              <s:element minOccurs="0" maxOccurs="1" name="ReadGroups" type="tns:ArrayOfReadgroup" />
              <s:element minOccurs="0" maxOccurs="1" name="AuthorizedMeters" type="tns:ArrayOfMeterInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="AuthorizedTerminals" type="tns:ArrayOfHandTerminal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="userInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Windows_User" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserType" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="baseClass">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Info" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HandTerminal">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseClass">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AllSubscribers" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Multiplier" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ConstantValue">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseClass">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="OrderBy" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="group">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseClass" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="tariffBase">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Code1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Code2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Code3" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="subscriber">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Department" type="tns:department" />
              <s:element minOccurs="0" maxOccurs="1" name="SubscriberType" type="tns:baseClass" />
              <s:element minOccurs="0" maxOccurs="1" name="Tariff" type="tns:tariffBase" />
              <s:element minOccurs="0" maxOccurs="1" name="Group" type="tns:group" />
              <s:element minOccurs="0" maxOccurs="1" name="TaxInfo" type="tns:taxInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:address" />
              <s:element minOccurs="0" maxOccurs="1" name="Contacts" type="tns:contacts" />
              <s:element minOccurs="0" maxOccurs="1" name="MainMeter" type="tns:meter" />
              <s:element minOccurs="0" maxOccurs="1" name="UniqueNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PmumId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SubMeters" type="tns:ArrayOfMeter" />
              <s:element minOccurs="0" maxOccurs="1" name="Relevant" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SanSicBelGecTarihi" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="IndustryRegnum" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Constants" type="tns:ArrayOfConstantValue" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="department">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseClass">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="departmentType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Relevant" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Adres" type="tns:address" />
              <s:element minOccurs="0" maxOccurs="1" name="Contact" type="tns:contacts" />
              <s:element minOccurs="0" maxOccurs="1" name="taxInfo" type="tns:taxInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="PrefixEInvoice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrefixEArchive" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Properties" type="tns:ArrayOfPropertyValue" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="addressType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TownId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CityId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="contacts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Phone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gsm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gsm2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gsm3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountEMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Web" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="taxInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TaxType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxOffice" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPropertyValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="propertyValue" nillable="true" type="tns:propertyValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="propertyValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="meter">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Mark" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Driver" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ContractPower" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="SettedPower" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Multiplier" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="SubscriberId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DepartmentId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubscriberCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MeterYear" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ProfilePeriod" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UsingPlace" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UsingPlaceString" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Cancelled" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="subscriberAttachState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mechanics" type="tns:ArrayOfMeterMechanic" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfMeterMechanic">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="meterMechanic" nillable="true" type="tns:meterMechanic" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="meterMechanic">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LineNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SealNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdYear" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CalibrationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="QMin" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QMax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PressValue" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Radius" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="meterInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:meter">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FirstDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstValues" type="tns:ArrayOfIndexValue" />
              <s:element minOccurs="0" maxOccurs="1" name="LastValues" type="tns:ArrayOfIndexValue" />
              <s:element minOccurs="0" maxOccurs="1" name="Consumptions" type="tns:ArrayOfConsumptionLine" />
              <s:element minOccurs="0" maxOccurs="1" name="Subscriber" type="tns:subscriber" />
              <s:element minOccurs="0" maxOccurs="1" name="TypeStr" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Authority" type="tns:ArrayOfInt" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfIndexValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="indexValue" nillable="true" type="tns:indexValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="indexValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IndexInfo" type="tns:indexInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="departmentId" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SubscriberId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MeterId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RawValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Multiplier" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FixedValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Reference" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Source" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TariffFormula" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderBy" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="indexInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UseMultiplier" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="DataType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DataTypeInfo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="WebVisible" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="WebMainPage" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsOrdered" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfConsumptionLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConsumptionLine" nillable="true" type="tns:ConsumptionLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConsumptionLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="INDEX_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DATETIME_" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="INDEX_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INDEX_INFO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BEGIN_INDEX" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="END_INDEX" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="INDEX_AMOUNT" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="USE_MULTIPLIER" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MULTIPLIER" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ADDITIONAL_AMOUNT" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AMOUNT" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="FORMULA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ORDERBY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UNIT" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMeter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="meter" nillable="true" type="tns:meter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConstantValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConstantValue" nillable="true" type="tns:ConstantValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="period">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseClass">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="BeginDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastPayDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="InvoiceDate" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfReadgroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="readgroup" nillable="true" type="tns:readgroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="readgroup">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMeterInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="meterInfo" nillable="true" type="tns:meterInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHandTerminal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HandTerminal" nillable="true" type="tns:HandTerminal" />
        </s:sequence>
      </s:complexType>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogoutResult" type="tns:AuthenticationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWebSiteProperties">
        <s:complexType />
      </s:element>
      <s:element name="GetWebSitePropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWebSitePropertiesResult" type="tns:WebSitePropertiesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebSitePropertiesResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Caption1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Caption2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetPasswordResult" type="tns:AuthenticationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsAuthenticatedSoapIn">
    <wsdl:part name="parameters" element="tns:IsAuthenticated" />
  </wsdl:message>
  <wsdl:message name="IsAuthenticatedSoapOut">
    <wsdl:part name="parameters" element="tns:IsAuthenticatedResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetWebSitePropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetWebSiteProperties" />
  </wsdl:message>
  <wsdl:message name="GetWebSitePropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetWebSitePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="SetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:SetPassword" />
  </wsdl:message>
  <wsdl:message name="SetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:SetPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationSoap">
    <wsdl:operation name="IsAuthenticated">
      <wsdl:input message="tns:IsAuthenticatedSoapIn" />
      <wsdl:output message="tns:IsAuthenticatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWebSiteProperties">
      <wsdl:input message="tns:GetWebSitePropertiesSoapIn" />
      <wsdl:output message="tns:GetWebSitePropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input message="tns:SetPasswordSoapIn" />
      <wsdl:output message="tns:SetPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationSoap" type="tns:AuthenticationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAuthenticated">
      <soap:operation soapAction="http://tempuri.org/IsAuthenticated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebSiteProperties">
      <soap:operation soapAction="http://tempuri.org/GetWebSiteProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap:operation soapAction="http://tempuri.org/SetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationSoap12" type="tns:AuthenticationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAuthenticated">
      <soap12:operation soapAction="http://tempuri.org/IsAuthenticated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebSiteProperties">
      <soap12:operation soapAction="http://tempuri.org/GetWebSiteProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap12:operation soapAction="http://tempuri.org/SetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="AuthenticationSoap" binding="tns:AuthenticationSoap">
      <soap:address location="http://192.168.2.240:90/services/Authentication.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationSoap12" binding="tns:AuthenticationSoap12">
      <soap12:address location="http://192.168.2.240:90/services/Authentication.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>