KepService/Connected Services/KepGonderimi/KEPGonderim.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://turkkepgw.turkkep.com.tr/KEPWSGonderim" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="KEPGonderim" targetNamespace="http://turkkepgw.turkkep.com.tr/KEPWSGonderim" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://turkkepgw.turkkep.com.tr/KEPWSGonderim" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="KEPGonderimi" type="tns:KEPGonderimi" />
      <xs:element name="KEPGonderimiResponse" type="tns:KEPGonderimiResponse" />
      <xs:complexType name="KEPGonderimi">
        <xs:sequence>
          <xs:element name="KepKimlikDogrulama" type="tns:authInput" />
          <xs:element name="KEPIcerik" type="tns:postaIcerik" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="authInput">
        <xs:sequence>
          <xs:element name="islemYetkiliKodu" nillable="true" type="xs:string" />
          <xs:element name="kullaniciAdi" type="xs:string" />
          <xs:element name="kullaniciSifresi" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="postaIcerik">
        <xs:sequence>
          <xs:element name="iletiIcerigi" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="KEPGonderimiResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="postaKutusu" type="tns:postaIslemSonuc" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="postaIslemSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="sonucKodu" type="xs:string" />
          <xs:element minOccurs="0" name="sonucu" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="KEPGonderimiResponse">
    <wsdl:part name="parameters" element="tns:KEPGonderimiResponse" />
  </wsdl:message>
  <wsdl:message name="KEPGonderimi">
    <wsdl:part name="parameters" element="tns:KEPGonderimi" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:portType name="KEPGonderim">
    <wsdl:operation name="KEPGonderimi">
      <wsdl:input name="KEPGonderimi" message="tns:KEPGonderimi" />
      <wsdl:output name="KEPGonderimiResponse" message="tns:KEPGonderimiResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KEPGonderimSoapBinding" type="tns:KEPGonderim">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KEPGonderimi">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="KEPGonderimi">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="KEPGonderimiResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KEPGonderim">
    <wsdl:port name="KEPGonderimPort" binding="tns:KEPGonderimSoapBinding">
      <soap:address location="https://eriwstest.turkkep.com.tr/KEPWSGonderim/KEPGonderim" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>